@import "@syncfusion/ej2-base/styles/material.css";
@import "@syncfusion/ej2-buttons/styles/material.css";
@import "@syncfusion/ej2-inputs/styles/material.css";
@import "@syncfusion/ej2-navigations/styles/material.css";
@import "@syncfusion/ej2-popups/styles/material.css";
@import "@syncfusion/ej2-splitbuttons/styles/material.css";
@import "@syncfusion/ej2-pdfviewer/styles/material.css";

body {
  overflow-x: hidden;
  overflow-y: auto !important;
}

/* تغيير عرض أو ارتفاع الـ scrollbar */
::-webkit-scrollbar {
  width: 10px; /* للتمرير العمودي */
  height: 10px; /* للتمرير الأفقي */
}

/* خلفية المسار */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* لون المقبض */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* عند المرور بالماوس */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
